{% load static %}

{% block head %}
    
    <link rel="stylesheet" type="text/css" href="{% static 'styles/filter.css' %}">
    
{% endblock head %}

<div class="filter-container">

    <!-- Título dos Filtros -->
    <h2>Filtros</h2>
    
    <!-- Campo de Pesquisa -->
    <input type="text" placeholder="Pesquisar...">

    <!-- Lista de Filtros -->
    <ul>
        <li><a href="#">Filtro 1</a></li>
        <li><a href="#">Filtro 2</a></li>
        <li><a href="#">Filtro 3</a></li>
        <li><a href="#">Filtro 4</a></li>
    </ul>

</div>
