/* Estilização para o cabeçalho */
h1 {
    font-size: 28px;
    margin-bottom: 20px;
    font-family: 'Arial', sans-serif;
    text-align: center;
    color: #333;
}

/* Estilização para o contêiner dos cartões */
.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* Estilização para os cartões */
.card {
    width: 300px;
    background-color: #fff;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: translateY(-5px);
}

/* Estilização para o conteúdo dos cartões */
.card-content {
    padding: 20px;
}

/* Estilização para os parágrafos dentro dos cartões */
.card-content p {
    color: #555;
    line-height: 1.5;
    margin-bottom: 10px;
}

/* Estilização para os botões dentro dos cartões */
.card-content .btn,
.card-content .btn-favorite {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 20px;
    margin-top: 10px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.card-content .btn {
    background-color: #4CAF50;
    color: #fff;
}

.card-content .btn-favorite {
    background-color: #ff9f9b;
    color: #333;
}

.card-content .btn:hover,
.card-content .btn-favorite:hover {
    background-color: #333;
    color: #fff;
}
