/* Estilização para o cabeçalho */
h1 {
    font-size: 24px;
    margin-bottom: 10px;
    font-family: cursive;
}

/* Estilização para o contêiner dos cartões */
.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* Estilização para os cartões */
.card {
    background-color: #f0f0f0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin: 20px;
    padding: 0px;
    
}

/* Estilização para o conteúdo dos cartões */
.card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px; /* Adicionado padding para o conteúdo */
}

/* Estilização para os parágrafos dentro dos cartões */
.card-content p {
    color: #666;
    line-height: 1.3;
    margin-bottom: 8px;
}

/* Estilização para os botões dentro dos cartões */
.card-content .btn, 
.card-content .btn-favorite {
    display: inline-block;
    padding: 8px 16px;
    border-radius: 4px;
    margin-top: 8px;
}

.card-content .btn {
    background-color: #333;
    color: #fff;
    text-decoration: none;
}

.card-content .btn-favorite {
    background-color: #fda29b;
    color: #000;
}
