<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Details</title>
  <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'styles/detail.css' %}">
</head>
<body>

<div class="main">
  <div style="box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);">            
    <nav class="navbar navbar-expand px-4 py-3">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}"> <span style="font-weight: bold; font-size: 25px; font-family: 'Roboto', sans-serif; color: #746d8d;">BabysitEase</span> </a>
            <form action="#" class="d-none d-sm-inline-block"></form>
            <div class="navbar-collapse collapse">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item dropdown">
                        <a href="#" data-bs-toggle="dropdown" class="nav-icon pe-md-0">
                            <img onclick="myFunction()" class="dropbtn" src="https://cdn-icons-png.freepik.com/512/64/64572.png" height="40">                            
                        </a>
                        <div class="dropdown-menu dropdown-menu-end rounded">
                            <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
                            <a class="dropdown-item" href="{% url 'editar-perfil' %}">Editar Perfil</a>
                            <a class="dropdown-item" href="#">Item 3</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>


<div class="container py-5">
  <div class="row">
      <div class="col-md-4">
          <div class="card" style="box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); border: 1px solid #eaeaea;">
              <img src="https://s2.glbimg.com/-iAjSgo-VEaDfA3698q1xLzBo0M=/620x453/e.glbimg.com/og/ed/f/original/2016/08/18/baba-cuidando-do-bebe.jpg" class="card-img-top" alt="#">
              <div class="card-body">
                  <h5 class="card-title" style="text-transform: capitalize;">{{ babysitter.user }} {{ babysitter.last_name }}</h5>
                  <p class="card-text">{{ babysitter.description }}</p>
                  <button id="btnmensagem" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#contactModal"
                    style="background-color: #4d4861; font-weight: 600; color: #fff; border: none; transition: background-color 0.3s;">
                    Me mande uma Mensagem
                </button>
              </div>
          </div>
      </div>
      <div class="col-md-8">
          <div class="card" style="box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); border: 1px solid #eaeaea;">
              <div class="card-body">
                  <h5 class="card-title mb-2" style="font-weight: 600; font-size: 22px; font-family: 'Roboto', sans-serif;">Detalhes da Babá</h5>
                  <div class="mb-3 bg-light p-2 rounded-4">
                      <strong>Email:</strong> {{ babysitter.email }}
                  </div>
                  <div class="mb-3 bg-light p-2 rounded-4">
                      <strong>Telefone:</strong> +1234567890
                  </div>
                  <div class="mb-3 bg-light p-2 rounded-4">
                      <strong>Endereço:</strong> {{ babysitter.user.number }}, {{ babysitter.user.street }}, Recife
                  </div>
                  <div class="mb-3 bg-light p-2 rounded-4">
                      <strong>Documentação:</strong>
                      {% if babysitter.documents_submitted %} 
                          Apresentou documentos oficiais.
                      {% else %} 
                          Não apresentou documentos.
                      {% endif %}
                  </div>
                  <div class="mb-3 bg-light p-2 rounded-4">
                      <strong>Preço por Hora:</strong> R$ {{ babysitter.hourly_price }}
                  </div>
                  <div class="mb-3 bg-light p-2 rounded-4">
                      <strong>Anos de Experiência:</strong> {{ babysitter.experience_years }}
                  </div>
                  <div class="mb-3 bg-light p-2 rounded-4">
                      <strong>Nota Avaliação:</strong> {{ babysitter.rating }}/5
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<!-- Modal de Enviar Mensagem -->
<div class="modal fade" id="contactModal" tabindex="-1" aria-labelledby="contactModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="contactModalLabel">Fale comigo!</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <form action="{% url 'message' %}"  method="post">
                {% csrf_token %}
                  <div class="mb-3">
                      <label for="message-text" class="col-form-label">Mensagem:</label>
                      <textarea class="form-control" id="message-text" name="text"></textarea>
                  </div>
                  <div class="modal-footer">
                    <input type="hidden" name="cpf" value="{{ babysitter.cpf }}">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-primary">Enviar mensagem</button>
                </div>
              </form>
          </div>
      </div>
  </div>
</div>


<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h2 class="text-left">Olá, {{ request.user.first_name }}! Veja meus Horários</h2>
      <div class="card" style="box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); border: 1px solid #eaeaea;;">
        <div class="card-body">
          <h6>Você pode solicitar meus horários disponíveis neste calendário abaixo:</h6>
          <br>
          <p>Ao terminar de selecionar os horários, clique em "Solicitar"</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mt-3 justify-content-center">
  <div class="col-md-8">
      <div class="table-responsive" >
          <table id="calendarTable" class="table table-bordered text-center">
            <thead>
                <tr>
                    <th scope="col">-</th>
                    <th scope="col">Segunda</th>
                    <th scope="col">Terça</th>
                    <th scope="col">Quarta</th>
                    <th scope="col">Quinta</th>
                    <th scope="col">Sexta</th>
                    <th scope="col">Sábado</th>
                </tr>
            </thead>
            <tbody id="horarios">
              <tr id="manha">
                  <th scope="row">Manhã</th>
                  <td id="segunda-manha" class="calendar-item {% if schedules.0.status == 'Indisponível' %}bg-danger text-white{% elif schedules.0.status == 'Pendente' %}bg-warning text-white{% endif %}" data-day="Monday" data-time="Morning" {% if schedules.0.status != 'Disponível' %}disabled{% endif %} data-id="{{ schedules.0.id }}">{{ schedules.0.status }}</td>
                  <td id="terca-manha" class="calendar-item {% if schedules.3.status == 'Indisponível' %}bg-danger text-white{% elif schedules.3.status == 'Pendente' %}bg-warning text-white{% endif %}" data-day="Tuesday" data-time="Morning" {% if schedules.3.status != 'Disponível' %}disabled{% endif %} data-id="{{ schedules.3.id }}">{{ schedules.3.status }}</td>
                  <td id="quarta-manha" class="calendar-item {% if schedules.6.status == 'Indisponível' %}bg-danger text-white{% elif schedules.6.status == 'Pendente' %}bg-warning text-white{% endif %}" data-day="Wednesday" data-time="Morning" {% if schedules.6.status != 'Disponível' %}disabled{% endif %} data-id="{{ schedules.6.id }}">{{ schedules.6.status }}</td>
                  <td id="quinta-manha" class="calendar-item {% if schedules.9.status == 'Indisponível' %}bg-danger text-white{% elif schedules.9.status == 'Pendente' %}bg-warning text-white{% endif %}" data-day="Thursday" data-time="Morning" {% if schedules.9.status != 'Disponível' %}disabled{% endif %} data-id="{{ schedules.9.id }}">{{ schedules.9.status }}</td>
                  <td id="sexta-manha" class="calendar-item {% if schedules.12.status == 'Indisponível' %}bg-danger text-white{% elif schedules.12.status == 'Pendente' %}bg-warning text-white{% endif %}" data-day="Friday" data-time="Morning" {% if schedules.12.status != 'Disponível' %}disabled{% endif %} data-id="{{ schedules.12.id }}">{{ schedules.12.status }}</td>
                  <td id="sabado-manha" class="calendar-item {% if schedules.15.status == 'Indisponível' %}bg-danger text-white{% elif schedules.15.status == 'Pendente' %}bg-warning text-white{% endif %}" data-day="Saturday" data-time="Morning" {% if schedules.15.status != 'Disponível' %}disabled{% endif %} data-id="{{ schedules.15.id }}">{{ schedules.15.status }}</td>
              </tr>
              <tr id="tarde">
                  <th scope="row">Tarde</th>
                  <td id="segunda-tarde" class="calendar-item {% if schedules.1.status == 'Indisponível' %}bg-danger text-white{% elif schedules.1.status == 'Pendente' %}bg-warning text-white{% endif %}" data-day="Monday" data-time="Afternoon" {% if schedules.1.status != 'Disponível' %}disabled{% endif %} data-id="{{ schedules.1.id }}">{{ schedules.1.status }}</td>
                  <td id="terca-tarde" class="calendar-item {% if schedules.4.status == 'Indisponível' %}bg-danger text-white{% elif schedules.4.status == 'Pendente' %}bg-warning text-white{% endif %}" data-day="Tuesday" data-time="Afternoon" {% if schedules.4.status != 'Disponível' %}disabled{% endif %} data-id="{{ schedules.4.id }}">{{ schedules.4.status }}</td>
                  <td id="quarta-tarde" class="calendar-item {% if schedules.7.status == 'Indisponível' %}bg-danger text-white{% elif schedules.7.status == 'Pendente' %}bg-warning text-white{% endif %}" data-day="Wednesday" data-time="Afternoon" {% if schedules.7.status != 'Disponível' %}disabled{% endif %} data-id="{{ schedules.7.id }}">{{ schedules.7.status }}</td>
                  <td id="quinta-tarde" class="calendar-item {% if schedules.10.status == 'Indisponível' %}bg-danger text-white{% elif schedules.10.status == 'Pendente' %}bg-warning text-white{% endif %}" data-day="Thursday" data-time="Afternoon" {% if schedules.10.status != 'Disponível' %}disabled{% endif %} data-id="{{ schedules.10.id }}">{{ schedules.10.status }}</td>
                  <td id="sexta-tarde" class="calendar-item {% if schedules.13.status == 'Indisponível' %}bg-danger text-white{% elif schedules.13.status == 'Pendente' %}bg-warning text-white{% endif %}" data-day="Friday" data-time="Afternoon" {% if schedules.13.status != 'Disponível' %}disabled{% endif %} data-id="{{ schedules.13.id }}">{{ schedules.13.status }}</td>
                  <td id="sabado-tarde" class="calendar-item {% if schedules.16.status == 'Indisponível' %}bg-danger text-white{% elif schedules.16.status == 'Pendente' %}bg-warning text-white{% endif %}" data-day="Saturday" data-time="Afternoon" {% if schedules.16.status != 'Disponível' %}disabled{% endif %} data-id="{{ schedules.16.id }}">{{ schedules.16.status }}</td>
              </tr>
              <tr id="noite">
                  <th scope="row">Noite</th>
                  <td id="segunda-noite" class="calendar-item {% if schedules.2.status == 'Indisponível' %}bg-danger text-white{% elif schedules.2.status == 'Pendente' %}bg-warning text-white{% endif %}" data-day="Monday" data-time="Night" {% if schedules.2.status != 'Disponível' %}disabled{% endif %} data-id="{{ schedules.2.id }}">{{ schedules.2.status }}</td>
                  <td id="terca-noite" class="calendar-item {% if schedules.5.status == 'Indisponível' %}bg-danger text-white{% elif schedules.5.status == 'Pendente' %}bg-warning text-white{% endif %}" data-day="Tuesday" data-time="Night" {% if schedules.5.status != 'Disponível' %}disabled{% endif %} data-id="{{ schedules.5.id }}">{{ schedules.5.status }}</td>
                  <td id="quarta-noite" class="calendar-item {% if schedules.8.status == 'Indisponível' %}bg-danger text-white{% elif schedules.8.status == 'Pendente' %}bg-warning text-white{% endif %}" data-day="Wednesday" data-time="Night" {% if schedules.8.status != 'Disponível' %}disabled{% endif %} data-id="{{ schedules.8.id }}">{{ schedules.8.status }}</td>
                  <td id="quinta-noite" class="calendar-item {% if schedules.11.status == 'Indisponível' %}bg-danger text-white{% elif schedules.11.status == 'Pendente' %}bg-warning text-white{% endif %}" data-day="Thursday" data-time="Night" {% if schedules.11.status != 'Disponível' %}disabled{% endif %} data-id="{{ schedules.11.id }}">{{ schedules.11.status }}</td>
                  <td id="sexta-noite" class="calendar-item {% if schedules.14.status == 'Indisponível' %}bg-danger text-white{% elif schedules.14.status == 'Pendente' %}bg-warning text-white{% endif %}" data-day="Friday" data-time="Night" {% if schedules.14.status != 'Disponível' %}disabled{% endif %} data-id="{{ schedules.14.id }}">{{ schedules.14.status }}</td>
                  <td id="sabado-noite" class="calendar-item {% if schedules.17.status == 'Indisponível' %}bg-danger text-white{% elif schedules.17.status == 'Pendente' %}bg-warning text-white{% endif %}" data-day="Saturday" data-time="Night" {% if schedules.17.status != 'Disponível' %}disabled{% endif %} data-id="{{ schedules.17.id }}">{{ schedules.17.status }}</td>
              </tr>
          </tbody>
        </table>
      </div>
      <!-- Botão para abrir o modal de confirmação -->
      <button id="confirmButton" class="btn btn-send mt-4 float-end" data-bs-toggle="modal" data-bs-target="#confirmModal">Solicitar</button>
      <!-- Modal de confirmação -->
      <div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="confirmModalLabel">Confirmar Envio</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <!-- Aqui será exibida a mensagem de aviso -->
              <p>Por favor, confirme sua solicitação</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              <!-- Botão dentro do modal para enviar os dados -->
              <button type="button" id="sendDataButton" class="btn btn-primary" data-url="{{ schedules_solicitation }}">Enviar</button>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>

<!-- Seção de Comentários -->
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h2 class="text-left">Comentários</h2>
      <div class="card" style="box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); border: 1px solid #eaeaea;">
        <div class="card-body">
          <!-- Listagem de Comentários -->
          <div id="commentSection">

            {% if comments %}
            {% for comment in comments %}
              <div class="comment mb-3 p-3 bg-light rounded-4">
                <div class="d-flex justify-content-between">
                  <strong>{{ comment.user }}</strong>
                  <span>{{ comment.created_at }}</span>
                </div>
                <p>{{ comment.content }}</p>
              </div>
            {% endfor %}
          {% else %}
          <div class="comment mb-3 p-3 bg-light rounded-4">
            <h6>Não tenho comentários disponíveis ainda.</h6>
          </div>
          {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5"></div>
 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
  crossorigin="anonymous"></script>
<script src="{% static 'styles/details.js' %}"></script>

<script>
  // Função para lidar com a seleção das células da tabela
  function handleCellSelection(event) {
    const selectedCell = event.target;

    // Verifica se a célula está disponível para seleção
    const status = selectedCell.innerText;
    if (status !== 'Indisponível' && status !== 'Pendente') {
      // Verifica se a célula já está selecionada
      const isSelected = selectedCell.classList.contains('selected');
      if (!isSelected) {
        // Adiciona a classe 'selected' para destacar a célula selecionada
        selectedCell.classList.add('selected');
        // Muda a cor de fundo da célula selecionada
        selectedCell.style.backgroundColor = '#847da1'; // ou qualquer outra cor que você desejar
      } else {
        // Remove a classe 'selected' da célula se ela já estiver selecionada
        selectedCell.classList.remove('selected');
        // Retorna a cor de fundo padrão da célula
        selectedCell.style.backgroundColor = ''; // Retorna à cor padrão do CSS
      }
    }
  }

  function sendData() {
    const selectedCells = document.querySelectorAll('.selected');

    // Verifica se alguma célula está selecionada
    if (selectedCells.length === 0) {
      // Se nenhuma célula estiver selecionada, exibe uma mensagem de aviso no modal
      const modalBody = document.querySelector('#confirmModal .modal-body');
      modalBody.innerHTML = '<p id="aoMenosUmHorario" class="text-danger">Por favor, selecione pelo menos um horário.</p>';
      return;
    }

    const selectedData = [];

    selectedCells.forEach(cell => {
      const status = cell.innerText;
      const id = cell.dataset.id;

      if (status === 'Disponível') {
        selectedData.push({ id });
      }
    });

    // Obtém o token CSRF do cookie
    const csrftoken = getCookie('csrftoken');

    // Enviar os dados para a URL
    fetch("/schedules-solicitation/", {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        'X-CSRFToken': csrftoken,
      },
      body: JSON.stringify({ schedules: selectedData }),
    })
      .then(response => {
        if (!response.ok) {
          throw new Error('Erro ao enviar dados.');
        }
        return response.json();
      })
      .then(data => {
        console.log('Dados enviados com sucesso:', data);
        // Exibe um alerta para o usuário
        
        // Fecha o modal
        const modal = new bootstrap.Modal(document.getElementById('confirmModal'));
        modal.hide();
        // Recarrega a página
        window.location.reload();
      })
      .catch(error => {
        console.error('Erro ao enviar dados:', error);
        // Se necessário, faça alguma ação em caso de erro
      });

    // Fechar o modal após enviar os dados
    const modal = new bootstrap.Modal(document.getElementById('confirmModal'));
    modal.hide();
  }

  // Função para obter o valor do token CSRF do cookie
  function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
      const cookies = document.cookie.split(';');
      for (let i = 0; i < cookies.length; i++) {
        const cookie = cookies[i].trim();
        // Verifica se o cookie contém o nome do token CSRF
        if (cookie.substring(0, name.length + 1) === (name + '=')) {
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
          break;
        }
      }
    }
    return cookieValue;
  }

  // Adiciona o evento de clique a todas as células da tabela
  const calendarCells = document.querySelectorAll('.calendar-item');
  calendarCells.forEach((cell, index) => {
    cell.addEventListener('click', handleCellSelection);

    // Altera o estilo do cursor para um símbolo de bloqueio se a célula estiver indisponível ou pendente
    if (cell.innerText === 'Indisponível' || cell.innerText === 'Pendente') {
      cell.style.cursor = 'not-allowed';
    }
  });

  // Obtém o botão de enviar dentro do modal
  const sendDataButton = document.getElementById('sendDataButton');

  // Adiciona o evento de clique ao botão de enviar dentro do modal
  sendDataButton.addEventListener('click', sendData);
</script>




</body>
</html>
