{% load static %}

{% block head %}
    
    <link rel="stylesheet" type="text/css" href="{% static 'styles/filter.css' %}">
    
{% endblock head %}

<div class="filter-container">
    <div class="row">
        <div class="col-md-5">

            <!-- Título dos Filtros -->
            <h2>Filtros</h2>
            
            <!-- Campo de Pesquisa -->
            <input type="text" placeholder="Pesquisar...">

            <!-- Lista de Filtros -->
            <ul>
                <li><a href="#">Filtro1</a></li>
                <li><a href="#">Filtro2</a></li>
                <li><a href="#">Filtro3</a></li>
                <li><a href="#">Filtro4</a></li>
            </ul>
        </div>
    </div>
</div>
