/* Estilização para o contêiner dos filtros */
.filter-container {
    background-color: antiquewhite;
    padding: 20px;
    border-radius: 7px;
    border-right: 1px solid #c9c9c9;
    border-bottom: 1px solid #c9c9c9;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilização para o título dos filtros */
h2 {
    font-size: 26px;
    font-family: cursive;
}
