{% extends 'main.html' %} 

{% block content %} 
    <style>
        /* Estilo para o corpo da página */
        body {
            background-color: #fdf9f1; 
        }

        /* Estilo para o contêiner principal da página inicial */
        .home-container {
            display: grid;
            grid-template-columns: 1fr 4fr;
            gap: 20px; 
            border-radius: 7px;
            font-family: Arial, Helvetica, sans-serif;
        }
    </style>

    <div class="home-container">
        {% include 'filter.html' %} 
        {% include 'cards.html' %} 
    </div>

{% endblock content %} 
